# ==========================================================
# LeetCode Credentials & Cookies
# ==========================================================
# Open LeetCode.com in your browser, log in, open DevTools (F12) -> Application -> Cookies -> https://leetcode.com
LEETCODE_SESSION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfYXV0aF91c2VyX2lkIjoiMTY1NjM0NDMiLCJfYXV0aF91c2VyX2JhY2tlbmQiOiJkamFuZ28uY29udHJpYi5hdXRoLmJhY2tlbmRzLk1vZGVsQmFja2VuZCIsIl9hdXRoX3VzZXJfaGFzaCI6ImU5ZjAzMmY1MjEzZWE1ZDVlNzI2ZWUwZjlkZWVmNjczYTk0NmE2YTZkOTE1MzFjNzY1ODMzMGNlY2RmNGE1NWQiLCJzZXNzaW9uX3V1aWQiOiI0ZDE2MmU1NiIsImlkIjoxNjU2MzQ0MywiZW1haWwiOiJ0aGFydW5tYW5nYWxhMDlAZ21haWwuY29tIiwidXNlcm5hbWUiOiJUaGFydW5uMDkiLCJ1c2VyX3NsdWciOiJUaGFydW5uMDkiLCJhdmF0YXIiOiJodHRwczovL2Fzc2V0cy5sZWV0Y29kZS5jb20vdXNlcnMvZGVmYXVsdF9hdmF0YXIuanBnIiwicmVmcmVzaGVkX2F0IjoxNzg3NzIzNDU1LCJpcCI6IjIxMC44OS42MS40MiIsImlkZW50aXR5IjoiMzg5NTY4Yzg5NDU2M2U3ZTQ3NWIxZjNkNDcxMTdlNjIiLCJkZXZpY2Vfd2l0aF9pcCI6WyIxMmFmYWU3MjFlNTc2YTJmNjA3NTM2MzVjZGE1OTdhZiIsIjIxMC44OS42MS40MiJdLCJfc2Vzc2lvbl9leHBpcnkiOjEyMDk2MDB9.2N66pEYB3g6Rc-nNVOFeB7tflg2-dI7UfApvfEx_F9Q
LEETCODE_CSRF_TOKEN=ZmDtKaa4u6nvmNGDoGdHupFSFbYCoani

# ==========================================================
# Gemini AI Configuration
# ==========================================================
# Get a free Gemini API key from https://aistudio.google.com/
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-3.6-flash

# ==========================================================
# Groq AI Configuration
# ==========================================================
# Get a Groq API key from https://console.groq.com/
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=qwen/qwen3.6-27b

# ==========================================================
# Preferences
# ==========================================================
# Language choice for solving problems: 'python3', 'cpp', 'java', 'golang', 'javascript'
PROGRAMMING_LANGUAGE=python3

# ==========================================================
# Resend Email Configuration
# ==========================================================
# Get an API key from https://resend.com/
RESEND_API_KEY=your_resend_api_key_here
TO_EMAIL=your_email@example.com
FROM_EMAIL=LeetCode Bot <onboarding@resend.dev>
