# ==========================================================
# LeetCode Credentials & Cookies
# ==========================================================
# Open LeetCode.com in your browser, log in, open DevTools (F12) -> Application -> Cookies -> https://leetcode.com
LEETCODE_SESSION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfYXV0aF91c2VyX2lkIjoiMTY1NjM0NDMiLCJfYXV0aF91c2VyX2JhY2tlbmQiOiJkamFuZ28uY29udHJpYi5hdXRoLmJhY2tlbmRzLk1vZGVsQmFja2VuZCIsIl9hdXRoX3VzZXJfaGFzaCI6ImU5ZjAzMmY1MjEzZWE1ZDVlNzI2ZWUwZjlkZWVmNjczYTk0NmE2YTZkOTE1MzFjNzY1ODMzMGNlY2RmNGE1NWQiLCJzZXNzaW9uX3V1aWQiOiJiNmM0ZjVkOSIsImlkIjoxNjU2MzQ0MywiZW1haWwiOiJ0aGFydW5tYW5nYWxhMDlAZ21haWwuY29tIiwidXNlcm5hbWUiOiJUaGFydW5uMDkiLCJ1c2VyX3NsdWciOiJUaGFydW5uMDkiLCJhdmF0YXIiOiJodHRwczovL2Fzc2V0cy5sZWV0Y29kZS5jb20vdXNlcnMvZGVmYXVsdF9hdmF0YXIuanBnIiwicmVmcmVzaGVkX2F0IjoxNzg3NjY4MjQ1LCJpcCI6IjExNy4yNTEuODYuMTUyIiwiaWRlbnRpdHkiOiI2OTY3ZWM3MjYxYjNjYmU2YTkxZDc5OGM2Yjk1MWM2MCIsImRldmljZV93aXRoX2lwIjpbIjE5MmZjMjFiYWIyY2JjN2I0Mjc0NzQ1OGJhMjM5Mjc2IiwiMTE3LjI1MS44Ni4xNTIiXSwiX3Nlc3Npb25fZXhwaXJ5IjoxMjA5NjAwfQ.hsmFaiWc80wrMQI32fp788Nd8WHkNTg4gpfsoQxyUR4
LEETCODE_CSRF_TOKEN=rAXpBwr1Y8zDy574u83BUOowE32hM763

# ==========================================================
# Gemini AI Configuration
# ==========================================================
# Get a free Gemini API key from https://aistudio.google.com/
GEMINI_API_KEY=AIzaSyDQjKMoVTSDzg6awBJHPCpcCJC_tfycLiE
GEMINI_MODEL=gemini-2.5-flash

# ==========================================================
# Groq AI Configuration
# ==========================================================
# Get a Groq API key from https://console.groq.com/
GROQ_API_KEY=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
GROQ_MODEL=qwen/qwen3.6-27b

# ==========================================================
# Preferences
# ==========================================================
# Language choice for solving problems: 'python3', 'cpp', 'java', 'golang', 'javascript'
PROGRAMMING_LANGUAGE=python3

# ==========================================================
# Resend Email Configuration
# ==========================================================
# Get an API key from https://resend.com/
RESEND_API_KEY=re_your_resend_api_key_here
TO_EMAIL=your_email@example.com
FROM_EMAIL=LeetCode Bot <onboarding@resend.dev>
